.root {
  position: absolute;
  top: 40px;
  bottom: 4w0px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.soti {
  width: 300px;
  video {
    width: 100%;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  img {
    width: 100%;
  }
}

.button {
  background: none;
  border: none;

  &:focus {
    outline: none;
    .icon {
      path {
        fill: white;
      }
    }
  }
}

.prevLink {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  text-align: center;
}

.icon {
  @mixin icon 20px, 20px, block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  path {
    fill: color(white a(0.5));
  }
}

.nextLink {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  text-align: center;
}

